@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply scrollbar scrollbar-track-[#202324] scrollbar-thumb-[#454A4D] bg-[#232627];
}

.hide {
  opacity: 0.5;
  pointer-events: none;
}

.scrollbarHide {
  overflow-y: hidden;
}

.counter {
  opacity: 1;
  pointer-events: painted;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
